.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
  }
  
  .container1 {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
  }
  
  nav ul li a.todo {
    background-color: skyblue;
  }
  
  nav ul li a.logout {
    background-color: darkred;
  }
  
  